body {
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    background-image: url("3579-Louis-Vuitton-Crack-House-Jordan-Weber.jpg");
    background-repeat: no-repeat;
    background-size:cover
}; 


#container {
    width: 400px;
    height: 400px;
    padding: 0;
    box-sizing: border-box;

}

*:after, 
*:before {
    box-sizing: inherit;
}

#spoop {
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty 1s infinite;
}

#spoop #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: #26dd12;
    border-top-left-radius: 90px;
    border-top-right-radius:90px;
}

#spoop #body:before,
#spoop #body:after {
    content:'';
    position: absolute;
    top: 130px;
    display: inline-block;
    width: 36px;
    height:36px;
    border-radius: 50%;
    background: #18ce03;
    animation: floaty .1s infinite;
}

#spoop #body:before {
    left: -18px;
}

#spoop #body:after {
    right: -18px;
}

#spoop #body #eyes {
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#spoop #body #eyes:before,
#spoop #body #eyes:after {
    content: '';
    display: block;
    width:30px;
    height:30px;
    background: #eea300;
    border-radius: 50%;
}

#spoop #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#spoop #body #mouth:before {
    content: ' ';
    display: block;
    background: #02f817;
    margin-left: 20px;
    
}


#spoop #body #feet {
    position:absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#spoop #body #feet > *,
#spoop #body #feet::before,
#spoop #body #feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: #26dd12;
    border-radius: 50%;
}

#shadow {
    margin: -90px auto 0;
    background: #252c49;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy 1s infinite;
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-60px);
    }
}

@keyframes zoomy {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }
}

#img {
margin-left: 700px;
margin-top: -400px;
border: 5px solid black;
border-radius:50%; 
}